@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');

:root {
  /* TEMA CLARO */
  --ion-background-color: #ffffff;
  --ion-background-color2: #ffffff;
  --ion-background-color-rgb: 255,255,255;
  --ion-text-color: #0f172a;
  --ion-text-color2: #464646; 
  --ion-text-color3: #6b7280;
  --ion-text-color4: #ffffff;
  --ion-text-color-rgb: 15,23,42;
  --ion-color-primary: #3b82f6;
  --ion-color-primary-contrast: #ffffff;
  --ion-border-color: #eef2f4;
}

/* TEMA OSCURO */
.dark {
  --ion-background-color: #1f2324;
  --ion-background-color2: #292a2b;
  --ion-background-color-rgb: 18,18,18;
  --ion-text-color: #e5e7eb;
  --ion-text-color2: #f7faff;
  --ion-text-color3: #f7faff;
  --ion-text-color4: #ffffff;
  --ion-text-color-rgb: 229,231,235;
  --ion-color-primary: #60a5fa;
  --ion-color-primary-contrast: #0b0f19;
  --ion-border-color: #a0a2a35b;
}

ion-content { --background: var(--ion-background-color); }







